footer {
<<<<<<< HEAD
        background:#00FF00;
        display:flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width:100%;
        bottom: 0;
        position: fixed;
=======
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #00FF00;
    font-weight: bold;
>>>>>>> 6db01708bd59a1c08544f7888f67fa9109ff0786
}
