footer {
<<<<<<< HEAD
        background:white;
        width: 100%;
        border-top: 1px solid #CCCCCC;
        padding-top: 30px;
        padding-bottom: 30px;
        bottom: 0;
        text-align: center;
=======
    width: 100%;
    background-color: white;
    height: 60px;
    border-top: 1px #CCCCCC solid;
    position: absolute;
    bottom: 0;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
>>>>>>> 6db01708bd59a1c08544f7888f67fa9109ff0786
}
